/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

.author_bio_sidebar {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
    margin: 0 0 30px 0;
}

.author_bio_sidebar .social_box {
    background: $primary-def;
    padding: 3px 5px;
    text-align: center;
    font-size: 0;
    list-style: 0;
}

.author_bio_sidebar .social_box a {
    color: $primary-def;
    font-size: 26px;
    height: 42px;
    line-height: 40px;
    width: 42px;
    padding: 0;
    margin: 9px 2px;
    background: $white;
    border-radius: 21px;
    display: inline-block;
    text-decoration: none !important;
}

.author_bio_sidebar .social_box a i {
    vertical-align: middle;
    line-height: 40px;
}

.author_bio_sidebar .social_box a:hover {
    background: #555;
    color: $white;
}

.author_bio_sidebar .content_box {
    background: $white;
    padding: 15px 15px 15px;
}

.author_bio_sidebar .author_bio_img {
    max-width: 100%;
    margin: 0 0 20px 0;
}

.author_bio_img>img {
    max-width: 100%;
}

.author_bio_sidebar .author_bio_message h3 {
    font-size: 32px;
    line-height: 32px;
    color: $primary-def;
}

.author_bio_sidebar .author_bio_message h4 {
    font-size: 30px;
    line-height: 32px;
    color: $primary-def;
}

.author_bio_sidebar .author_bio_message h5 {
    font-size: 24px;
    line-height: 30px;
    color: $primary-def;
}

.author_bio_sidebar .author_bio_message h6 {
    font-size: 18px;
    line-height: 30px;
    color: $primary-def;
}


/* Large Desktop */

@media (min-width: 1200px) {
    .author_bio_sidebar .social_box {
        padding: 3px 20px;
    }
    .author_bio_sidebar .content_box {
        padding: 15px 35px 25px;
    }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    .author_bio_sidebar .social_box a {
        width: 30px;
        height: 30px;
        line-height: 28px;
        border-radius: 15px;
        font-size: 22px;
    }
    .author_bio_sidebar .social_box a i {
        line-height: 28px;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .content_box {
        text-align: center;
    }
}