.breadcrumb {
    padding-left: 20px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
    background-color: $white;
}

.breadcrumb-item {
    padding: 0 9px 6px 10px !important;
}

.breadcrumb li {
    padding: 0px 0 6px 0px;
    background: none;
}