@import url(//fonts.googleapis.com/css?family=Damion);
@import url(//fonts.googleapis.com/css?family=BenchNine:700);

/* =Global
----------------------------------------------- */

body {
    background-image: url(images/main-bg.jpg);
    background-color: #210f1d;
    background-repeat: no-repeat;
    background-position: center 0;
}

body,
button,
input,
select,
textarea {
    color: $grey1;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
}


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: $font2;
    letter-spacing: -1px;
}


/* Lists */

ol,
ul {
    padding-left: 1rem;
}

#main ul {
    overflow: hidden;
    padding-left: 1rem !important;
}

ul li {
    padding: 0 0 6px 10px;
    background: url(images/list-bullet.svg) no-repeat 0 7px;
    background-size: 3px 5px;
    list-style: none;
    margin: 0;
}

a {
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    text-decoration: none;
}

.progress .bar {
    font-weight: bold;
}


/* Alignment */

.alignleft {
    display: inline;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 10px;
}

.extra-wrap {
    overflow: hidden;
}


/* =PAGE WRAPPER
----------------------------------------------- */

.page-wrapper {
    position: relative;
    width: 100%;
}

.page-wrapper:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    height: 6px;
    background: url(images/page-top-bg.jpg) no-repeat center 0 $primary-def;
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .page-wrapper:before {
        display: none;
    }
}

/* Dark ode manual toggle */
#darkmodebtn {
    position: fixed;
    float: left;
    right: 50px;
    bottom: 50px;
    z-index: 100;
}

/* scrollbar styles */
/* firefox support */
* {
    scrollbar-color: $primary-def $lesswhite; 
}

/* The others support */
*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: $lesswhite;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $primary-def ;
    border-radius: 20px;
    border: 3px solid $lesswhite;
  }